*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.account-container {
    display: flex;
    align-items: stretch;
    flex-grow: 1;
}

.sidebar {
    background: #f4f4f4;
    width: 250px; 
    border-right: 1px solid #ccc;
}

.sidebar-header {
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-menu li a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    transition: background-colour 0.3s ease;
}

.sidebar-menu li a:hover {
    background-color: #ddd;
    transform: scale(1.1);
}

.profile-content {
    flex-grow: 1;
    padding: 20px;
    background: #fff;
}

/*Humayra Hussain 210005848*/

#profile{
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    margin-right: 30%;
    padding: 10px;
    transition: background-colour 0.3s ease;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
#profile p{
    padding: 2px;
}
#profile h2{
    text-align: center;
}

.section h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
#order-display{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.all-info{
    width: calc(50% - 20px);
    margin: 10px 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

#orders h2{
    text-align: center;
    margin-top: 30px;
}
.date-header{
    text-align: center;
    padding:2px;
    width:100%
}

.order-box{
    flex-grow: 1;
    width: 50%;
    background-color: #f3f3f3;
    align-items: center;
    padding: 3px;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
    margin-top: 20px;
    padding: 10px;
}

.info{
    justify-content:flex-start;
    display:flex;
    background-color: #fff;
    padding: 3px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    padding: 5px;
}

.review-btn{
    margin-top: 20px;
    border: none;
    padding: 7px;
    border-radius: 10px;   
    align-items: bottom;
    color: white;
    transition: background-colour 0.3s ease;
    background-color: rgba(46, 10, 10, 0.5);
    transition: transform 0.3s ease;
}
.review-btn:hover{
    background-color: rgba(0, 0, 0, 0.9);
    transform: scale(1.1);
}
#order-display{
    padding: 10px;
}

.product-img{
    height:100px;
}

.info p{
    padding-top: 20px;
}
.status{
    padding: 5px;
}
.price-txt{
    margin-top: 10px;
    padding: 5px;
}

#changePassword{
    padding: 10px;
}
#changePassword h2{
    text-align: center;
    margin-top: 30px;
}
#changePassword .form-group{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
#changePassword .form-group label{
    flex: 1;
    text-align: right;
}
#changePassword .form-group input[type="password"]{
    flex: 3;
    padding: 3px;
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 50px;
}
#changePassword button[type="submit"]{
    margin-top: 20px;
    border: none;
    padding: 7px;
    border-radius: 10px;   
    color: white;
    transition: background-colour 0.3s ease;
    background-color: rgba(46, 10, 10, 0.5);
    transition: transform 0.3s ease;
    
}
#changePassword button[type="submit"]:hover{
    background-color: rgba(0, 0, 0, 0.9);
    transform: scale(1.1);
}

.review-btn{
    border: none;
    padding: 10px;
    border-radius: 10px;   
    align-items: bottom;
    color: white;
    transition: background-colour 0.3s ease;
    background-color: rgba(46, 10, 10, 0.5);
    transition: transform 0.3s ease;
}
.review-btn:hover{
    background-color: rgba(0, 0, 0, 0.9);
    transform: scale(1.1);
}
.success{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(216, 255, 216);
    color: rgb(0, 167, 0);
    padding: 10px;
    margin-bottom: 10px;
}
.error{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(255, 211, 211);
    color: rgb(193, 0, 0);
    padding: 10px;
    margin-bottom: 10px;
}

/* Responsive design */
@media (max-width: 768px) {
    .account-container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
    }

    .sidebar-header, .sidebar-menu li a {
        padding: 10px;
    }

    .profile-content {
        width: 100%;
    }
}

/*return items button*/
.returnBtn{
    padding:5px;
    width:140px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #f28686;
    border:none;
    border-radius:6px;
    color:white;
}

.returnBtn:hover{
    cursor:pointer;
    background-color:#a64b4b ;
}
/*Menu, Navigation Bar and Footer styling from homepage.css*/

/*Styling for NAVIGATION BAR*/
header .navbar{
    text-align: center;
    background-color: white;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: small;
}
.navbar{
    width: auto;
    display: flex;
    align-items: center;
    font-size: small;
}
/*Search Bar*/
.search{
    margin-top: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    width: 500px;
    margin-left: 20px;
}
.search img{
    height: 15px;
    width: 15px;
}
/*Links to pages for the Nav-bar*/
a{
    color: black;
    text-decoration: none;
    cursor: pointer;
    padding: 2px;
}
a:hover{
    text-decoration: underline;
}
.links{
    flex: 1;
    text-align: right;
    padding-right: 5px;
    padding-top: 20px;
}
.links nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}
.links .img-links img{
    display: inline-block;
    margin-right: 50px;
    margin-bottom: -7px;
}
.links ul{
    display: inline-block;
    list-style-type: none;
}
.links .page-links ul li{
    display: inline-block;
    margin-right: 20px;
}
.links img{
    display: inline-block;
    width: 20px;
    text-align: center;
}
.img-links .home-icon{
    width: 15px;
    transform: translate(-12px);
}
.img-links .account-icon{
    width: 15px;
    transform: translate(-11px);
}
.img-links .basket-icon{
    width: 15px;
    transform: translate(-10px);
}
@media screen and (max-width:1100px){
    /*Navigation Bar*/
    .search input{
        max-width: 200px;
    }
    .links{
        text-align: center;
        flex: auto;
    }
}

/*5 Categories for Menu*/
.menu{
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 5px;
    display: flex;
    font-size: small;
    justify-content: space-around;
    align-items: center;
}
.menu a{
    text-decoration: none;
    color: white;
    text-align: center;
    cursor: pointer;
}
.menu a:hover{
    text-decoration: underline;
}

/*FOOTER*/
.footer{
    padding-top: 30px;
    font-size: small;
    display: flex;
    justify-content: space-around;
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.footer-box{
    flex: 1;
    text-align: center;
}
.footer-box img{
    width: 20px;
}
.footer .button{
    cursor: pointer;
    transition: transform 0.5s ease;
    transition: background-colour 0.3s ease;
    background-color: rgba(46, 10, 10, 0.5);
    border: none;
}
.footer .button:hover{
    text-decoration: underline;
}
.footer h3{
    padding-bottom: 10px;
}
ul{
    list-style-type: none;
    padding: 5px 10px;
    display: inline-block;
}
footer p{
    text-align: center;
    font-size: small;
    margin-bottom: 5px;
}
.socials{
    width: 15px;
    margin: 10px;
    transform: translate(140px);
}
.line{
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 5px;
    display: flex;
    font-size: small;
    justify-content: space-around;
    align-items: center;
}
.logout-button {
    padding: 12px 20px;
    background-color: #c1bebe;
    color: rgba(46, 10, 10, 0.5);
    border: none;
    cursor: pointer;
    float: right;
}

.logout-form {
    text-align: center;
    margin-top: 20px;
}
.logout-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;  
    border: none;
    border-radius: 10px;   
    align-items: bottom;
    color: black;
    background-color: white;
    border: 1px solid rgba(46, 10, 10, 0.5);
    transition: transform 0.3s ease;
}
.logout-button:hover{
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    transform: scale(1.1);
}

/*Resizing for social media icons*/
@media screen and (max-width:800px){
    .socials{
        width: 15px;
        margin: 10px;
        transform: translate(50px);
    }
}