/*HOME PAGE styling - Humayra Hussain - 210005848*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/************************Styling for NAVIGATION BAR**************************/
header .navbar{
    text-align: center;
    background-color: white;
    width: 100%;
}
.navbar{
    display: flex;
    align-items: center;
    font-size: small;
}
/*Search Bar*/
.search{
    margin-top: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    width: 500px;
    margin-left: 20px;
}
.search img{
    height: 15px;
    width: 15px;
}
/*Links to pages for the Nav-bar*/
a{
    color: black;
    text-decoration: none;
    cursor: pointer;
    padding: 2px;
}
a:hover{
    text-decoration: underline;
}
.links{
    flex: 1;
    text-align: right;
    padding-right: 5px;
    padding-top: 20px;
}
.links nav{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.links .img-links img{
    display: inline-block;
    margin-right: 56px;
    margin-bottom: -7px;
}
.links ul{
    display: inline-block;
    list-style-type: none;
}
.links .page-links ul li{
    display: inline-block;
    margin-right: 20px;
}
.links img{
    display: inline-block;
    width: 20px;
    text-align: center;
}
.img-links .home-icon{
    width: 15px;
    transform: translate(-16px);
}
.img-links .about-us-icon{
    width: 17px;
    transform: translate(-17px);
}
.img-links .contact-us-icon{
    width: 15px;
    transform: translate(-9px);
}
.img-links .account-icon{
    width: 15px;
    transform: translate(7px);
}
.img-links .basket-icon{
    width: 15px;
    transform: translate(5px);
}

/************************Styling for Login Banner**************************/
/*5 Categories for Menu*/
.menu{
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 5px;
    display: flex;
    font-size: small;
    justify-content: space-around;
    align-items: center;
}
.menu a{
    text-decoration: none;
    color: white;
    text-align: center;
    cursor: pointer;
}
.menu a:hover{
    text-decoration: underline;
}
/*Log-in Banner*/
.banner-log{
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
}
.log-in{
    width: max-width;
    height: 500px;
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
    border: 2px solid white;
    background-color: transparent;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    border-radius: 10px;
}
.button:hover{
    text-decoration: underline;
}
.heading{
    margin-left: 200px;
    margin-right: 200px;
    transition: background-colour 0.3s ease;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}
.heading:hover{
    background-color: rgba(0, 0, 0, 0.8);
    transform: scale(1.05);
}
.heading h1{
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    margin: 10px 0;
    padding-top: 50px;
}
.heading-links{
    padding-top: 30px;
}
.log-in p{
    text-align: center;
    padding: 20px;
}
.button#login-btn{
    background-color: white;
    color: black;
    margin-left: 40px;
}

/************************FEATURED PRODUCT SHOWCASE**************************/
.featured-products{
    margin-bottom: 20px;
}
.featured-products h2{
    margin-top: 60px;
    text-align: center;
    position: relative;
    line-height: 40px;
}
.featured-products p{
    margin-top: 0;
    text-align: center;
    margin-bottom: 30px;
}
.product-row{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    flex-flow: row;
    position: relative;
    width: auto;
}
.product-card{
    align-items: center;
    padding: 3px;
    justify-content: center;
    border: 1px solid black;
    margin: 10px;
    height: 370px;
    transition: transform 0.3s ease;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.product-card img{
    height:200px;
}
.product-card h4, .product-card p{
    text-align: center;
    padding-top: 4px;
    margin-bottom: 5px;
}
.product-card .button{
    margin-top: 30px;
    border-radius: 10px;   
    align-items: bottom;
    position: absolute;
    transform: translateX(40px);
    color: white;
    transition: background-colour 0.3s ease;
    background-color: rgba(46, 10, 10, 0.5);
}
.product-card .button:hover{
    background-color: rgba(0, 0, 0, 0.9);
}
.product-card:hover{
    transform: scale(1.1);
}

/**************************ABOUT US and CONTACT US**************************/
.about{
    padding: 30px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.box{
    flex-basis: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    color: white;
    text-shadow: 4px 2px 6px rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.box h1{
    margin-top: 30px;
}
.box h1, .box p{
    margin-bottom: 10px;
    text-align: center;
}
.box .button{
    margin-top: 20px;
    transition: transform 0.5s ease;
    transition: background-colour 0.3s ease;
    background-color: rgba(46, 10, 10, 0.5);
    border: none;
    margin-bottom: 30px;
}
.box .button:hover{
    background-color: rgba(0, 0, 0, 0.9);
    transform: scale(1.2);
}
.box img{
    max-width: 400px;
}
.about-p{
    margin-top: 60px;
    text-align: center;
}

/*********************************FOOTER*************************************/
.footer{
    padding-top: 30px;
    font-size: small;
    display: flex;
    justify-content: space-around;
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.footer-box{
    flex: 1;
    text-align: center;
}
.footer-box img{
    width: 20px;
}
.footer .button{
    cursor: pointer;
    transition: transform 0.5s ease;
    transition: background-colour 0.3s ease;
    background-color: rgba(46, 10, 10, 0.5);
    border: none;
}
.footer .button:hover{
    text-decoration: underline;
}
.footer h3{
    padding-bottom: 10px;
}
ul{
    list-style-type: none;
    padding: 5px 10px;
    display: inline-block;
}
footer p{
    text-align: center;
    font-size: small;
    margin-bottom: 5px;
}
.socials{
    width: 15px;
    margin: 10px;
   transform: translate(140px);
}
.line{
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 5px;
    display: flex;
    font-size: small;
    justify-content: space-around;
    align-items: center;
}


/*Product-details page styling - Humayra Hussain - 210005848*/
.product-detail{
    width: 100%;
}
/*Product images*/
.gallery{
    margin: 30px;
    margin-top: 10px;
}
#main-image{
    width:400px;
}
.small-gallery{
    display: flex;
    justify-content: space-between;
    width: 400px;
    height: 120px;
    overflow-x: auto;
}
.product-detail .product-row{
    margin: 20px;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 30px;
}
.details{
    padding: 10px;
    margin: 150px;
    width: 100%;
    margin-top: 20px;
}
.details h3{
    font-size: 30px;
}
.details a{
    padding: 0;
    font-size: small;
    color:  rgba(0, 0, 0, 0.5);
}
/*Add to Basket button*/
.details .btn{
    margin-top: 20px;
    padding: 20px;
    font-size: large;
    transition: transform 0.5s ease;
    transition: background-colour 0.3s ease;
    background-color: rgba(46, 10, 10, 0.5);
    border: none;
    margin-bottom: 30px;
    border-radius: 10px;
}
.details .btn:hover{
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    transform: scale(1.1);
}
.details select{
    margin-top: 10px;
    font-size: small;
    border-radius: 10px;
}

/*Products page styling - Humayra Hussain, 210005848*/
.sorting form{
    margin: 20px;
    text-align: right;
}
.sorting form .button{
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    margin-bottom: 0;
}

/*Basket Page styling - Haseeb */
/*Cart Items*/
.cart-page{
    margin: 80px auto;
    padding-left:20px;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color:blue;
    background:azure;
    font-weight: normal;
}
td{
    padding:10px 5px;
}
td input {
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color:blue;
    font-size: 12px;
}
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top: 3px solid #623bff;
width:100%;
max-width: 400px;
td:last-child{
    text-align: right;
}
}
th:last-child{
    text-align: left;
    padding-left:20px;
}

.cart-line{
    float:right;
    padding-left:10px;
    width:400px
}
/*checkout button for cart page*/
.checkout-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #623bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.checkout-button:hover {
    background-color: #401f9b;
}