/*@font-face {
    font-family: 'Exo';
    src: url('fonts/Rubik-VariableFont_wght.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif
}
/*a tags/links to the other pages = black, underlined*/
a{
    color: black;
    text-decoration: none;
    cursor: pointer;
    padding: 2px;
}
a:hover{
    text-decoration: underline;
}

/************************************* NAVIGATION BAR ********************************************/
.navbar{
    display: flex;
    align-items: center;
    font-size: small;
}

/*Search bar*/
.search-bar input{
    font-size: 1rem;
}

.search-bar{
    text-align: center;
    margin-top: 10px;
    font-style: italic;
}
.search-bar input{
    width: 700px;
    height: 20px;
}
.search-bar button{
    background-color: transparent;
    color: white;
    border: none;
    transform: translateY(4px);
    cursor: pointer;
}
.search-bar .search-icon{
    width: 15px;
}

/*div class=links - all contents*/
.links{
    flex: 1;
    text-align: right;
    padding-right: 5px;
    padding-top: 20px;
}
.links nav{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.links .img-links img{
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-right: 56px;
}

.links ul{
    display: inline-block;
    list-style-type: none;
}

.links .nav-links ul li{
    display: inline-block;
    margin-right: 20px;
}

.links img{
    display: inline-block;
    width: 20px;
    text-align: center;
}

.img-links .home-icon{
    width: 15px;
    transform: translate(19px);
}
.img-links .about-us-icon{
    width: 17px;
    transform: translate(9px);
}
.img-links .contact-us-icon{
    width: 15px;
    transform: translate(17px);
}
.img-links .account-icon{
    width: 15px;
    transform: translate(22px);
}
.img-links .basket-icon{
    width: 15px;
    transform: translate(15px);
}

.banner{
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.banner::after{
    content: "";
    display: block;
    height: 1px;
    margin-top: 10px;
    background-color: gray;
}

header{
    padding-bottom: 5px;
    text-align: center;
}
/********NAVBAR styling END- all contents**********/

.menu{
    margin-top: 5px;
    color: black;
    font-size: medium;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.menu a{
    text-decoration: none;
    color: black;
    text-align: center;
    cursor: pointer;
    padding: 2px;
}
.menu a:hover{
    text-decoration: underline;
}

.banner-log{
    margin: auto;
    padding: 0;
    text-align: center;
}
.log-in{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
    padding-top: 25px;
}

.button{
    display: inline-block;
    margin-bottom: 50px;
    border: 2px solid white;
    background-color: transparent;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    border-radius: 4px;
}
.button:hover{
    background-color: white;
    color: black;
}

.heading{
    margin-left: 20px;
}

.heading h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.log-in{
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.log-in p{
    text-align: center;
    padding-bottom: 35px;
}

/* 5 Featured product showcase*/
.row{
    display: flex;
    max-width: 1200px;
    margin: auto;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 20px;
}

.products{
    flex-basis: 20%;
    padding: 10px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin: 10px;
    height:390px;
}

.products img{
    
    height:190px;
}

.prod h2{
    text-align: center;
    margin: 40px auto 20px;
    position: relative;
    line-height: 60px;
}

.products h4, .products p{
    text-align: center;
    padding-top: 4px;
    margin-bottom: 5px;
}

.products p{
    margin-bottom: 100px;
}
.featured-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.products .button{
    margin-top: 300px;
    background-color: rgb(34, 83, 198);
    color: white;
    border: 1px solid black;
    /*margin-bottom: 20px;*/
    align-items: bottom;
    position: absolute;

}
.products .button:hover{
    opacity: 0.80;
    color: white;
    text-decoration: underline;
}

/*About Us/Contact Us section*/

.about{
    margin-top: 80px;
    padding: 30px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box{
    flex-basis: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 60px;
    margin-bottom: 20px;
    background-size: contain;
    background-position: center;
    color: white;
    text-shadow: 4px 2px 6px rgba(0, 0, 0, 0.5);
}
.box a:hover{
    text-shadow: none;
}

.box h1, .box p{
    margin-bottom: 10px;
    text-align: center;
}
.box .button{
    margin-top: 10px;
}
.box img{
    max-width: 400px;
}


/*******FOOTER***********/

.footer{
    font-size: small;
    display: flex;
    justify-content: space-around;
    color: black;
    padding: 25px 0 15px;
}
footer::before{
    content: "";
    display: block;
    height: 1px;
    background-color: gray;
    padding: 0;
}

.footer-box{
    flex: 1;
    text-align: center;
}
.footer-box img{
    width: 20px;
}
.btn{
    color: black;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid black;
    margin-top: 5px;
    padding: 10px;
}
.btn:hover{
    text-decoration: underline;
}

.footer h3{
    padding-bottom: 10px;
}
ul{
    list-style-type: none;
    padding: 5px 10px;
    display: inline-block;
}

footer p{
    text-align: center;
    font-size: small;
    padding: 10px;
    margin-bottom: 10px;
}
.socials{
    width: 15px;
    margin: 10px;
   transform: translate(140px);
}
.line{
    content: "";
    display: block;
    height: 0.5px;
    background-color: gray;
    margin-left: 20px;
    margin-right: 20px;
}
/*************FOOTER END**************/


/*Products Page*/
.product{
    width: 100%;
}
.gallery{
    margin: 20px;
}

#main-image{
    width:400px;
}
.small-gallery{
    display: flex;
    justify-content: space-between;
    width: 400px;
    height: 120px;
    overflow-x: auto;
}
.product .row{
    margin: 20px;
    align-items: center;
    border: 1px solid black;
    padding: 20px;
}

.details{
    padding: 70px;
}
.details a{
    padding: 0;
    font-size: small;
}
/*Cart Items*/
.cart-page{
    margin: 80px auto;
    padding-left:20px;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color:blue;
    background:azure;
    font-weight: normal;
}
td{
    padding:10px 5px;
}
td input {
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color:blue;
    font-size: 12px;
}
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top: 3px solid #623bff;
width:100%;
max-width: 400px;
td:last-child{
    text-align: right;
}
}
th:last-child{
    text-align: left;
    padding-left:20px;
}

.cart-line{
    float:right;
    padding-left:10px;
    width:400px
}
/*checkout button for cart page*/
.checkout-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #623bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.checkout-button:hover {
    background-color: #401f9b;
}
