

*{
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; 
  text-transform: capitalize;
  transition: all .2s linear;
  font-family: "Poppins", sans-serif;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:25px;
  min-height: 100vh;  
  /*background: linear-gradient(90deg, #2e80cc 60%, #2e80cc 40.1%);*/
}

.container form{
  padding:20px;
  width:700px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  border: 1px solid black;
}

.container form .row{
  display: flex;
  flex-wrap: wrap;
  gap:15px;
  margin-right: 30px;
}

.container form .row .col{
  flex:1 1 250px;
}

.container form .row .col .title{
  font-size: 20px;
  color:#333;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.container form .row .col .inputBox{
  margin:15px 0;
}

.container form .row .col .inputBox span{
  margin-bottom: 10px;
  display: block;
}

.container form .row .col .inputBox input{
  width: 100%;
  border:1px solid #ccc;
  padding:10px 15px;
  font-size: 15px;
  text-transform: none;
}


.container form .row .col .inputBox input:focus{
  border:1px solid #000;
}

.container form .row .col .flex{
  display: flex;
  gap:15px;
}

.container form .row .col .flex .inputBox{
  margin-top: 5px;
}

.container form .row .col .inputBox img{
  height: 30px;
  margin-top: 5px;
  filter: drop-shadow(0 0 1px #000);
}

.container form .submit-btn{
  width: 95%;
  padding:12px;
  font-size: 17px;
  background: rgb(34, 83, 198);
  color:#fff;
  margin-top: 5px;
  cursor: pointer;
}

.container form .submit-btn:hover{
  opacity: 0.80;
}

/************************Styling for NAVIGATION BAR**************************/
header .navbar{
  text-align: center;
  background-color: white;
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-size: small;
}
.navbar{
  width: auto;
  display: flex;
  align-items: center;
  font-size: small;
}
/*Search Bar*/
.search{
  margin-top: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
input{
  width: 500px;
  margin-left: 20px;
}
.search img{
  height: 15px;
  width: 15px;
}
/*Links to pages for the Nav-bar*/
a{
  color: black;
  text-decoration: none;
  cursor: pointer;
  padding: 2px;
}
a:hover{
  text-decoration: underline;
}
.links{
  flex: 1;
  text-align: right;
  padding-right: 5px;
  padding-top: 20px;
}
.links nav{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
.links .img-links img{
  display: inline-block;
  margin-right: 50px;
  margin-bottom: -7px;
}
.links ul{
  display: inline-block;
  list-style-type: none;
}
.links .page-links ul li{
  display: inline-block;
  margin-right: 20px;
}
.links img{
  display: inline-block;
  width: 20px;
  text-align: center;
}
.img-links .home-icon{
  width: 15px;
  transform: translate(-12px);
}
.img-links .account-icon{
  width: 15px;
  transform: translate(-11px);
}
.img-links .basket-icon{
  width: 15px;
  transform: translate(-10px);
}

/*Resizing for half-screen (TP1 Feedback) Humayra Hussain 210005848 FOR ALL PAGES*/
@media screen and (max-width:1100px){
  /*Navigation Bar*/
  .search input{
      max-width: 200px;
  }
  .links{
      text-align: center;
      flex: auto;
  }
}
/*********************************FOOTER*************************************/
.footer{
  padding-top: 30px;
  font-size: small;
  display: flex;
  justify-content: space-around;
  color: black;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.footer-box{
  flex: 1;
  text-align: center;
}
.footer-box img{
  width: 20px;
}
.footer .button{
  cursor: pointer;
  transition: transform 0.5s ease;
  transition: background-colour 0.3s ease;
  background-color: rgba(46, 10, 10, 0.5);
  border: none;
}
.footer .button:hover{
  text-decoration: underline;
}
.footer h3{
  padding-bottom: 10px;
}
ul{
  list-style-type: none;
  padding: 5px 10px;
  display: inline-block;
}
footer p{
  text-align: center;
  font-size: small;
  margin-bottom: 5px;
}
.socials{
  width: 15px;
  margin: 10px;
  transform: translate(140px);
}
.line{
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 5px;
  display: flex;
  font-size: small;
  justify-content: space-around;
  align-items: center;
}

/*Resizing for social media icons*/
@media screen and (max-width:800px){
  .socials{
      width: 15px;
      margin: 10px;
      transform: translate(50px);
  }
}