#form-wrapper{
    margin-top:50px;
    text-align: center;
    width:100%;
    margin-bottom: 30px;
}

#returnTxt{
    height:120px;
    width:500px;
    border-radius:7px;
}

#form-wrapper button{
    display: inline-block;
    text-align: center;
    padding:8px;
    margin-top: 5px;
    margin-left: 4px;
    border:none;
    transition: background-colour 0.3s ease;
    background-color: rgba(46, 10, 10, 0.5);
    transition: transform 0.3s ease;
    border-radius:10px;
    color:white;
}
#form-wrapper .cancel{
    display: inline-block;
    margin: 10px;
    border: 1px solid rgba(46, 10, 10, 0.5);
    background-color: white;
    color: black;
    transition: transform 0.3s ease;
    border-radius:10px;
}

#form-wrapper button:hover{
    padding:9px;
    background-color: rgba(0, 0, 0, 0.9);
    transform: scale(1.1);
    color: white;
}

#txtarea{
    display:inline-flex;
}

#form textarea{
    margin-left:10px;
    padding:3px;
    margin-right:20%;
}

#form button{
margin-top:15px;
display:block;
margin-left: 46%
}