form img{
    height:300px;
}
#review-body input{
    width:auto;
}

#review-body{
    margin:auto;
    text-align: center;
    margin-top:40px;
    margin-bottom:30px;
    border-radius: 4px;
    width:70%;
    border-style:solid;
    border-color: rgb(174, 189, 195);
    padding-top:30px;
    padding-bottom: 50px;
}

#review-body button{
    padding-top:1px;
    padding-bottom:1px;
    padding-right: 3px;
    padding-left: 3px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(195, 222, 238);
    border-radius: 3px;
    background-color: rgb(199, 227, 238);
}

#review-body button:hover{
    cursor:pointer;
    border-color: rgb(168, 199, 216);
    background-color: rgb(171, 205, 218);
}
.textarea{
    margin-top:60px;
    display: inline-flex;
}

#review-text{
    margin-left:10px;
    padding-left:5px;
    width:600px;
    height:130px;
    border-color: rgb(109, 109, 167);
    border-radius: 2px;
}
.star-wrapper{
    direction: rtl;
}

.star-wrapper label:before{
    display: inline-block;
    content: "\2605";
    position:absolute;
    font-size: 30px;
    opacity:0.1;
    top:0;
    left:0
}

.star-wrapper label:after{
    display: inline-block;
    content: "\2605";
    position:absolute;
    color:rgb(252, 205, 53);
    font-size: 30px;
    opacity:0.5;
    top:0;
    left:0;
}

.star-wrapper label:hover:after, .star-wrapper label:hover ~ label:after, .star-wrapper input:checked ~ label:after{
    opacity: 1;
} 

.star-wrapper input{
     display:none;
} 

#review-text:hover{
    border-color: rgb(41, 56, 77);
}
.star-wrapper label{
    display:inline-block;
    width:40px;
    position:relative;
    cursor:pointer;
}