/*@font-face {
    font-family: 'Exo';
    src: url('fonts/Rubik-VariableFont_wght.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif
}

/*if want banner above navbar to have logo + image then create section class logo before navbar*/

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
.nav-links a{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.nav-links a:hover{
    background-color: white;
}

.search-bar{
    text-align: center;
    margin-top: 20px;
}
.search-bar input{
    padding: 5px;
    width: 700px;
}
.search-bar button{
    background-color: transparent;
    color: white;
    border: none;
    transform: translateY(4px);
    cursor: pointer;
}

.links{
    flex: 1;
    text-align: right;
    padding-right: 10px;
    padding-top: 20px;
}

.links nav{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/*Individually space icon? seperate with img with section*/

.links .img-links img{
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-right: 56px;
}

.links ul{
    display: inline-block;
    list-style-type: none;
}

.links .nav-links ul li{
    display: inline-block;
    margin-right: 20px;
}

.links img{
    display: inline-block;
    width: 20px;
    text-align: center;
}

.img-links .about-us-icon{
    width: 23.5px;
    transform: translate(-2px);
}
.img-links .contact-us-icon{
    transform: translate(11px);
}
.img-links .account-icon{
    transform: translate(25px);
}
.img-links .basket-icon{
    transform: translate(22px);
}
.img-links .browse-icon{
    transform: translate(8px);
}

/*change colour of p, a and h tags*/

a{
    text-decoration: none;
}

.banner{
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.log-in{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.image{
    flex-basis: 50%;
    min-width: 300px;
}

.image img{
    max-width: 100%;
    padding: 50px 0;
}

/*change font style*/

.heading{
    margin-left: 20px;
}

.heading h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.button{
    display: inline-block;
    border: 2px solid black;
    background-color: transparent;
    padding: 10px 20px;
    cursor: pointer;
    color: black;
}
.button:hover{
    background-color: white;
    color: black;
}

header{
    padding-bottom: 45px;
    background-color: rgb(127, 219, 235);
    text-align: center;
    /*background-image: url('images/header.png');
    background-size: cover;
    background-position: center center;*/
}

.log-in p{
    text-align: center;
    padding-bottom: 35px;
}
/*Product showcase*/
.row{
    display: flex;
    max-width: 1080px;
    margin: auto;
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: aqua;
}

.products{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
}

.products img{
    width: 200px;
}

.product h2{
    text-align: center;
    margin: 20px auto 40px;
    position: relative;
    line-height: 60px;
}

.products .fp1{
    padding: 25px 10px;
}
.products .fp2{
    width: 270px;
    transform: translate(-40px);
}

.featured-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Discount section*/

.discount{
    background-color: blanchedalmond;
    margin-top: 80px;
    padding: 30px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.disc{
    min-width: 200px;
}

.disc .disc-img{
    max-width: 100%;
    padding: 50px 0;
}

/*Footer*/

footer{
    background: white;
    color: blue;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer{
    display: flex;
    margin: auto;
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: blueviolet;
}

.footer-col, .footer-col1, .footer-col2{
    min-width: 250px;
    margin-bottom: 20px;
    text-align: center;
}

.footer-col{
    flex-basis: 30%;
}

.footer-col1{
    flex: 1;
    text-align: center;
}

.footer-col1 img{
    width: 180px;
    margin-bottom: 20px;
}

.footer-col2 {
    flex-basis: 12%;
    text-align: center;
}

ul{
    list-style-type: none;
}

footer hr{
    border: none;
    background-color: aquamarine;
    height: 1px;
    margin: 20px 0;
}

.terms{
    text-align: center;
}

/*Products Page*/
.gallery{
    margin: 20px;

}

.small-gallery{
    display: flex;
    justify-content: space-between;
    width: 120px;
    height: 120px;
}